@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 12px;
}
.list-disc li{
  list-style-type: disc;
  font-size: 1.2rem;
}
p{
  font-size: 1.2rem;
 
}
.hidden-scroll {
  max-height: 100vh;
  scrollbar-width: 4px;
  /* Firefox */
  overflow-y: auto;
}

.hidden-scroll::-webkit-scrollbar-track {
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
}

.hidden-scroll::-webkit-scrollbar {
  height: 4px;
  background-color: #F5F5F5;
}

.hidden-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 210);
}

.component {
  display: inline-block;
  position: relative;
  padding: 8px;
  margin: 8px;


}

.components {
  width: 100%;
  /* content wrap */
  overflow: auto;
  white-space: nowrap;

  /* hide scroll bar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  overflow-y: auto;
}

.component:hover {
  background-color: #f1f1f1;
}

.components::-webkit-scrollbar-track {
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
}

.components::-webkit-scrollbar {
  height: 4px;
  background-color: #F5F5F5;
}

.components::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 210);
}


/* Code area */

pre {
  background: #303030;
  color: #f1f1f1;
  padding: 10px 16px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  counter-reset: line 1;
  width: 50%;
}

pre>span::before {
  content: '-';
  display: inline-block;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}

pre div {
  line-height: 1.5rem;
  counter-increment: line;
}

pre div::before {
  content: counter(line);
  display: inline-block;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}

pre input {
  color: #000;
  text-align: center;
}

pre button {
  position: absolute;
  bottom: 16px;
}



#g23183 circle {
  stroke: #000 !important;
  stroke-width: 1px;
}


#g23183 circle:hover, #path26583:hover, #path26585:hover, #res_1:hover, #res_2:hover, .hoverable:hover {
  stroke: red !important;
  stroke-width: 1.5px;
}

#svg {
  cursor: pointer;
}

#ledLight {
  stroke:#010101;
  fill-opacity:1
}